/**
    Main styles
*/

.titles{
    text-align: center;
}

.myContainer{
    background-color: darkcyan;
    color: white;
    align-content: center;
    height: 100%;
}

.overviewHeader{
    display: block !important;
    text-align: center;
    background-color: darkcyan;
    color: white;
    height: 20%;
    min-height: 100px;
    padding: 20px 20px 10px 20px;
}

.contentContainer{
    background-color: white;
    z-index: 1;
    color: black;
    padding: 20px 20px 10px 20px;
    height: 40%;
    min-height: 400px;
    overflow-y: auto;
}

.footer{
    height: 40%;
    min-height: 100px;
}

/**
    Modal styles
 */
.showButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myShowButton{
    position: relative;
}

.moviesNum{
    color: red;
}

/**
    Form styles
 */
.numberReact{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.searchBar{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/**
    Table styles
 */
.availableCol{
    text-align: center;
}

/**
    Footer
 */
.footer{
    padding: 20px;
}

.footerList{
    list-style-type: none;
    padding-left: 5px;
}
